.etch {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    border: palegoldenrod 3px solid;

    &__container {
        width: 95%;
        max-width: 1300px;
        height: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        border: orange 3px solid;
    }
}

.canvas {
    height: 600px;
    width: 600px;
    min-width: 600px;
    margin: 10px auto;
    border: blue 3px dashed;
}

.controls {
    height: 450px;
    width: 150px;
    margin: 10px auto;
    border: black 3px dashed;
}

@media screen and (max-width:950px) {
    .controls {
        height: 150px;
        width: 450px;
    }
}