html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  height: 100vh;
  width: 100%;
  line-height: 1.3;
  font-family: 'Montserrat', sans-serif;
}

.body__wrapper {
  background: #c9c9bf;
  background: linear-gradient(73deg, #c9c9bf 0%, #fffff2 100%);
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
}

.etch {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: palegoldenrod 3px solid;
}

.etch__container {
  width: 95%;
  max-width: 1300px;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: orange 3px solid;
}

.canvas {
  height: 600px;
  width: 600px;
  min-width: 600px;
  margin: 10px auto;
  background-color: #D6D6D6;
  border: blue 3px dashed;
  display: -ms-grid;
  display: grid;
}

.canvas__part {
  background-color: #fff;
  border: lightgray 0.5px solid;
}

.controls {
  height: 450px;
  width: 150px;
  margin: 10px auto;
  background-color: #D6D6D6;
  border: black 3px dashed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.controls__slider {
  width: 125px;
}

.controls__clearbutton {
  width: 125px;
  background-color: #fff;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.controls__clearbutton:hover {
  background-color: #f3f3f3;
}

.controls__colorpicker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 0.8rem;
  width: 127.5px;
  border: 0px transparent solid;
  border-radius: 5px;
  background-color: #fff;
}

.controls__colorpicker:hover {
  background-color: #f3f3f3;
}

.controls__colorpicker input {
  background-color: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
}

@media screen and (max-width: 950px) {
  .controls {
    height: 150px;
    width: 450px;
  }
}
/*# sourceMappingURL=style.css.map */